canvas {
	border: 1px solid black;
}

#body:after
{
opacity:0.1;
filter:alpha(opacity=10);	
}
body {
    background-repeat: no-repeat;
}
html,
body{
    height: 100%;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
canvas {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-weight: 400;
  padding: 6px 12px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 13px;
  border-radius: 4px;
  font: normal 14px/1 Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}